@import './setup';

section{
    width: 100%;
    height: 100vh;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: #82dbef9a;

    .form-container{
        width: 500px;
        max-width: 90%;
        margin: auto;
        form{
            height: 500px;
            box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
            padding: 20px 35px;
            background-color: white;
            backdrop-filter: blur(10px);
            h1{
                text-align: center;
            }
            .form-group{
                margin: 5px 0px;
                
                input{
                    width: 100%;
                    height: 35px;
                    border-radius: 3px ;
                    // border: 1px solid #000;
                    outline: none;
                    padding: 0 10px;
                    margin: 10px 0;
                //  &:focus{
                //     border: 1px solid #000;
                // }
                &:invalid{
                    border: 1px solid red;
                }
                &:valid{
                    border: 1px solid #1b8e92;
                }
            }
                label{
                    font-size: 18px;
                    color: #000;
                    font-weight: bold;
                }
            }
            label{
                span{
                    .special-links{
                        text-decoration: none;
                        color: #1b8e92;
                        font-size: 15px;
                        font-weight: bold;
                    &:hover{
                        text-decoration: underline;
                    }
                    }
                }
            }
            #fg-pass{
                padding: 20px 0;
            }
            #quest{
                text-align: center;
                margin-top: 20px;
                font-size: 16px;
            }
            .form-links{
                display: flex;
                flex-direction: column;
                border: none;
                outline: none;
                margin: auto;
                padding-top: 5px;
                background-color: white;

                a{
                    text-decoration: none;
                    color: #1b8e92;
                    font-size: 15px;
                    text-align: center;
                
                &:hover{
                    text-decoration: underline;
                }
            }
            }

                .button-link{
                    text-decoration: none; 
                     width: 100%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    margin: 30px 0;
                    font-size: 20px;
                    color: white;
                    border-radius: 20px;
                    background-color: #307a7d;
                    padding: 10px 40px;

                    &:hover{
                        background-color: #307a7dc0;   
                   }
                
                
                }
            }
        }
    }
